<div id="header">
		<h1 class="medium-12" id="titulo">Inteligencia Artificial<small>{Usando Jaccard y Classifier}</small></h1>
</div>
<div class="row">		
	<div class="medium-6 columns">
		<%= form_tag({:controller => "pregunta", :action => "envia"}, :method => "get") do %>
			<%= label_tag "pregunta", "Cual es su pregunta?" %>
			<%= text_field_tag "q" %>
			<%= submit_tag("Preguntar",id: "pregunta") %>
		<% end %>
		<br>
		<blockquote>Por medio de una frase o pregunta se envia para analizar a que servicio corresponde, ya sea tecnico o comercial</blockquote>
	</div>
	<div class="medium-6 columns">
		<%= form_tag({:controller => "productos", :action => "buscar"}, :method => "get") do %>
			<select name="cosas">
				<%= options_for_select([['refrigerador','refrigerador hogar cocina'],['televisor','televisor sala lcd'],['telefono','hogar telefono oficina'],['zapatos','zapatos moda casual'],['tenis','tenis deportivos moda'],['camisa','camisa vestir'],['zapatillas','zapatillas moda formal'],['computadora','computadora tecnologia oficina']]) %>
			</select>
			<%= submit_tag("Buscar",id: "buscar") %>
		<% end %>
		<blockquote>Se selecciona una producto, y muestra los articulos mas relacionados a este, en base a sus etiquetas</blockquote>
	</div>
</div>