<div class="row">	
	<h1>Inteligencia Artificial</h1>
	<%= form_tag({:controller => "pregunta", :action => "envia"}, :method => "get") do %>
		<%= label_tag "pregunta", "que sucede?" %>
		<%= text_field_tag "q" %>
		<%= submit_tag("Preguntar",id: "pregunta") %>
	<% end %>

	<div id="resultados">
   		<% if @palabra %>
      		<p> <%= @palabra %> </p>
   		<% end %>
	</div>

</div>