	<header id="header">
		<div class="medium-12" id="header">
			<h1 id="titulo">Resultados Productos<small>{Usando Jaccard}</small></h1>
	</header>

	<div class="row">
		
		</div>
		<div class="resultados">
	   		<% if @producto %>
	   			<!--<p> <%= @pregunta %> </p>
	   			<br>-->
	   			<h2> <%= @cosa1 %></h2>
	      		
	      			<!--<%= @salida %><br> -->
	      			<!--<%= @salida1 %> 
	      			<%= @salida2 %> -->
	      			<div class="medium-6 columns">
	      			Productos con coeficiente:<br>
	      			<p><%= @salida3 %></p>
	      			</div>
	      			<div class="medium-6 columns">
	      			Ordenados por relacion:<br>
	      			<p><%= @salidaFinal %> </p>
	      			</div>
	      			<!--<div class="medium-6 columns">
	      			Ordenados por relacion:<br>
	      			<%= @salida4 %> 
	      			</div>-->
				
	   		<% end %>
		</div>
	</div>
