	<div class="row">
		<div id="resultados">
	   		<% if @producto %>
	   			<!--<p> <%= @pregunta %> </p>
	   			<br>-->
	   			<h2> <%= @cosa1 %></h2>
	      		<p> 
	      			<%= @salida %><br> 
	      			<!--<%= @salida1 %> 
	      			<%= @salida2 %> -->
	      			<%= @salida3 %><br> 
	      			<%= @salidaFinal %> 
				</p>
	   		<% end %>
		</div>
	</div>
